## gitignore

/pipeline/test_data/full\ audios/
/pipeline/noises/
/pipeline/__pycache__/
/pipeline/test_data/results/
__pycache__/
pipeline/debug_wavs/
pipeline/src/tests/debug_wavs/
pipeline/src/utils/__pycache__/
pipeline/test_data/
spectrogram_analysis/
ignore_folder/
impulsive_noise_denoising/ml_denoising/data/
impulsive_noise_denoising/ml_denoising/runs/
runs/
*.py[cod]
!tests/
!tests/**
tests/**/__pycache__/
tests/**/*.py[cod]
sandbox*.py
test*.py
!tests/**/*.py
results*/
results*.py 
.vscode/*
BSS/Dataset/generated/
*.txt
test_data/
.vscode/*
time_frequency_mask/data_generation/data/
